@model IEnumerable<BookstoreApp.Services.ViewModels.BookViewModel>
@{
    ViewBag.Title = "Search Results by Author";
}

<h2>Books By Author Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Shopping Cart</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Add", "AddBookToShoppingCart", "ShoppingCart", new { bookId = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
</table>
<p class="card-text text-info"><a class="btn btn-default" href=@Url.Action("Index", "Search")>Go back to Search &raquo;</a></p>