@using Microsoft.Ajax.Utilities
@model BookstoreApp.Services.ViewModels.BookImageViewModel

@{
    var imgSrc = String.Format("data:image/png;base64, {0}", Model.Image);
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <img src="@imgSrc" />
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <hr />
        @Html.ActionLink("Add To Wishlist", "AddToWishlist", "Wishlist", new { bookId = Model.Id }, new { @class = "btn btn-warning" })


    </dl> 
</div>
<p>
    @Html.ActionLink("Back to List", "BookCollection")
</p>
