@model IEnumerable<BookstoreApp.Services.ViewModels.OrderViewModel>
@{
    ViewBag.Title = "PersonalOrders";
}
<h2>Your Personal Orders</h2>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Username
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCompletedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedOrderTime)
        </th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => order.Username)
            </td>
            <td>
                @Html.DisplayFor(model => order.OrderCompletedTime)
            </td>
            <td>
                @Html.DisplayFor(model => order.ReceivedOrderTime)
            </td>
        </tr>
    }
</table>
<hr />
@Html.ActionLink("Export All Orders", "ExportOrders", "Order", null, new { @class = "btn btn-success" })