@model IEnumerable<BookstoreApp.Services.ViewModels.BookViewModel>
@{
    ViewBag.Title = "Wishlist";
}

<br />
<h2>Your personal Wishlist</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Shopping Cart</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td><button type="button" class="btn btn-info">Add</button></td>
            <td> @Html.ActionLink("Delete", "DeleteFromWishlist", "Wishlist", new { bookId = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>