@model IEnumerable<BookstoreApp.Services.ViewModels.BookViewModel>
@{
    ViewBag.Title = "ShoppingCartBookCollection";
}
<br />
<h2>Your personal Shopping Cart</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Delete", "DeleteBookToShoppingCart", "ShoppingCart", new { bookId = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<hr />
@Html.ActionLink("I'm ordering!", "PlaceOrderFromShoppingCart", "ShoppingCart",  new { @class = "btn btn-success" })